[submodule "models"]
	path = models
	url = git@github.com:ALTERNATIVE-EU/ai-ml-api-models.git

[submodule "models/PipelineAlternative_clinicaldata/cddd"]
	path = models/PipelineAlternative_clinicaldata/cddd
	url = git@github.com:jrwnter/cddd.git